<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- following menu-->
<div class="ui fixed inverted menu" th:fragment="fmenu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo"
                 src="https://upload-images.jianshu.io/upload_images/3424642-e507ac74fe4079e8.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
        </a>
        <a href="/" class="item">首页</a>
        <a href="/see" class="item">瞄一瞄</a>
        <a href="/search" class="item">搜索</a>
        <a href="/parse" class="item">解析</a>
        <a href="/tip" class="item">赞赏</a>
        <a href="/author" class="item">作者</a>
        <a href="https://github.com/ChinaSilence/any-video" class="item" target="_blank">Github</a>
        <div class="right item">
            <a class="ui inverted olive button" th:href="@{/login}" th:unless="${#httpServletRequest.remoteUser}">登录</a>
            <a class="ui inverted red button" th:href="@{/user}" th:if="${#httpServletRequest.remoteUser}">个人中心</a>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu" th:fragment="smenu">
    <a href="/" class="item">首页</a>
    <a href="/see" class="item">瞄一瞄</a>
    <a href="/search" class="item">搜索</a>
    <a href="/parse" class="item">解析</a>
    <a href="/tip" class="item">打赏</a>
    <a href="/author" class="item">作者</a>
    <a href="https://github.com/ChinaSilence/any-video" class="item" target="_blank">Github</a>
    <div class="right item">
        <a class="ui inverted olive button" th:href="@{/login}" th:unless="${#httpServletRequest.remoteUser}">登录</a>
        <a class="ui inverted red button" th:href="@{/user}" th:if="${#httpServletRequest.remoteUser}">个人中心</a>
    </div>
</div>

<!-- pointing menu -->
<div class="ui large secondary pointing menu" th:fragment="pmenu">
    <a class="toc item">
        <i class="sidebar icon"></i>
    </a>
    <a href="/" class="item">首页</a>
    <a href="/see" class="item">瞄一瞄</a>
    <a href="/search" class="item">搜索</a>
    <a href="/parse" class="item">解析</a>
    <a href="/tip" class="item">打赏</a>
    <a href="/author" class="item">作者</a>
    <a href="https://github.com/ChinaSilence/any-video" class="item" target="_blank">Github</a>
    <div class="right item">
        <a class="ui basic red button" th:href="@{/login}" th:unless="${#httpServletRequest.remoteUser}">登录</a>
        <a class="ui basic red button" th:href="@{/user}" th:if="${#httpServletRequest.remoteUser}">个人中心</a>
    </div>
</div>
</body>
</html>