<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>赞助者 | Any-Video</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div th:insert="~{header :: nav}"></div>

<div class="container" style="margin-top: 70px">
    <!-- 捐助列表 -->
    <table class="table">
        <caption>感谢您们对开源的支持，希望此开源项目能给您带来帮助，谢谢！</caption>
        <thead>
        <tr>
            <th class="col-md-5">昵称</th>
            <th class="col-md-2">方式</th>
            <th class="col-md-2">金额(元)</th>
            <th class="col-md-3">时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sponsor:${sponsors}">
            <td th:text="${sponsor.nickname}"></td>
            <td th:text="${sponsor.from}"></td>
            <td th:text="${#numbers.formatDecimal(sponsor.money,0,2)}"></td>
            <td th:text="${#dates.format(sponsor.date, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <!-- End 申请加入 -->

    <!-- 捐助 -->
    <div class="row">
        <button class="btn btn-danger btn-large center-block" data-toggle="modal" data-target="#Modal"><span class="glyphicon glyphicon-thumbs-up"></span> 捐助</button>
    </div>

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">感谢您的捐助</h4>
                </div>
                <div class="modal-body" style="text-align: center" id="deleteBody">
                    <div class="row">
                        <div class="col-md-6 col-xs-6"><img src="/image/wx.png" alt="" class="img-thumbnail"></div>
                        <div class="col-md-6 col-xs-6"><img src="/image/ali.png" alt="" class="img-thumbnail"></div>
                        <div class="col-md-6 col-xs-6" style="margin: 5px 0; color: red">微信</div>
                        <div class="col-md-6 col-xs-6" style="margin: 5px 0; color: red">支付宝</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END 捐助 -->

</div>
</body>
</html>
